@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000; 

  --primary: #34abeb;
  --primary-foreground: #ffffff; 
  
  --secondary: #29e6a6;
  --secondary-foreground: #000000;

  --msg-incoming-bg: #f3f4f6; 
  --msg-incoming-text: #000000;

  --msg-outgoing-bg: var(--primary); 
  --msg-outgoing-text: #ffffff;

  --chat-background: #E5E0E2;
  --window-background: #F7F8F7;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  min-width: 320px;
  background-color: var(--background);
  color: var(--foreground);
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
}

@layer base {
  h1 {
    @apply text-2xl font-bold tracking-tight text-foreground;
  }

  h2 {
    @apply text-xl font-semibold tracking-tight text-foreground;
  }
  
  h3 {
    @apply text-lg font-medium text-foreground;
  }
  
  h4 {
    @apply text-base font-medium text-foreground;
  }
  
  p {
    @apply text-base leading-snug text-foreground; 
  }

  small, .text-meta {
    @apply text-xs sm:text-sm font-medium text-gray-500;
  }
}